.navbar-user {
  padding-left: 0px;
  font-weight: bold;
}

.navbar-item {
  padding-right: 4px;
}

audio {
  width: 100%;
}

.card {
  margin-top: 20px;
}

.card time {
  display: block;
  font-size: 10px;
}

.section {
  padding: 0px;
}