.navbar-user {
  padding-left: 0px;
  margin-left: 4px;
  font-weight: bold;
}

.navbar {
  width: 100%;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
  align-items: stretch;
  display: flex;
  align-items: center;
}

audio {
  width: 100%;
}

.card {
  margin-top: 20px;
}

.card time {
  display: block;
  font-size: 10px;
}

.section {
  padding: 0px;
}

a {
  color: black
}

.btn-copy {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0px 5px;
}

.notification {
  opacity: 0;
  position: fixed;
  bottom: 1.5rem;
  margin: 0px 1.5rem;
  left: 0px;
  right: 0px;
  text-align: center;
  padding: 10px;
  background: #4a4a4a;
  color: white;
}

.navbar-brand {
  float: left;
}

.navbar-end {
  min-height: 3.25rem;
}

.navbar-item {
  padding-right: 4px;
}

.navbar-end .navbar-item {
  padding-right: 10px;
}

.media-content {
  padding-right: 33px;
}