.CardButton {
  
  * {
    box-sizing: border-box;
  }

  a {
    padding: 12px;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #097979;
  }
}